body{
    display: flex;
    justify-content: center;
    background: url('../images/opside.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main-content{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.container{
    position: center;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
}

.container .card{
    width: 300px;
    position: relative;
    height: 400px;
    background: #eff6e0;
    margin: 30px 10px;
    padding: 17px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px ;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}

.palabras{
    font-size: 16px;
}

.palabras a{
    text-decoration: none;
    color: #586ba4;
}

.container .card h2{
    font-size: 18px;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 250px;
    top: -60px;
    box-shadow: 0.5px 0px #f2e9e4;
}

.container .card .imgBx img{
    max-width: 100%;
    border-radius: 10px;
}

.imgbx:hover img{
    transform: scale(1.1);
}



@media screen and (max-width:600px) {
    .container h2{
        font-size: 2.25rem;
    }

    .container p{
        font-size: 1rem;
    }
}